{% extends 'base.html' %}

{% block content %}

<h2>2016</h2>
<ul>
    <li><a href="https://www.youtube.com/watch?v=dbrJ5kyJxWo">忽然之间 (原唱: 莫文蔚  Covered by Daniel Mao &amp; 晓玥 )</a></li>
    <li><a href="https://www.youtube.com/watch?v=e1fJdGETDVw">成都 （原唱: 赵雷  Covered by Daniel Mao &amp; Stephanie Huang）</a></li>
    <li><a href="https://www.youtube.com/watch?v=NMI4VZzFvGY">骊歌 （原唱: gala乐队  Covered by Daniel Mao &amp; Stephanie Huang）</a></li>
    <li><a href="https://www.youtube.com/watch?v=_07bUHHFQnQ">当你老了 （原唱: 赵照  Covered by Daniel Mao）</a></li>
    <li><a href="https://www.youtube.com/watch?v=_07bUHHFQnQ">midnight loneliness （by 岸部真明  Covered by Daniel Mao）</a></li>
    <li><a href="https://www.youtube.com/watch?v=Kzcm-Bvvwog">拥抱 （原唱：五月天 Cover by Daniel Mao, 翼尘，Galven Zhao）</a></li>
    <li><a href="https://www.youtube.com/watch?v=B8mfo4mh91k">关于2013-2016年的记忆</a></li>
</ul>

<h2>2015</h2>
<ul>
    <li><a href="https://www.youtube.com/watch?v=-RWf_upwUjI">夜空中最亮的星（原唱：逃跑计划  Covered by 北极星乐队）</a></li>
    <li><a href="https://www.youtube.com/watch?v=Jz-TVa3diAI">流星（by 岸部真明  Covered by Daniel Mao）</a></li>
    <li><a href="https://www.youtube.com/watch?v=QcuVQeantJA">花（by 岸部真明  Covered by Daniel Mao）</a></li>
    <li><a href="https://www.youtube.com/watch?v=2fj8Xe6N7IA">贝加尔湖畔 （原唱: 李健  Covered by Daniel Mao &amp; Stephanie Huang）</a></li>
    <li><a href="https://www.youtube.com/watch?v=qlLGIibrZyg">春游</a></li>
</ul>
</div>  

{% endblock %}