{% extends 'base.html' %}

{% block content %}
    <p class="lead">Hi! My name is Daniel Mao. I have over three years working experience in database development, ETL processing, and Business Intelligence. I poccess dual master degrees in thesis track with proven solid training in statistic and machine learning.
       
    <hr>

    <h1>Projects</h1>
    <div class="row projects-row">

    </div>

    <hr>

    <h1>Skills</h1>
    <div class="row skills-row">
        <div class="col-xs-12 col-sm-6">
            <h4>Languages</h4>
            <h5>By order of Familiarity</h5>
            <ul>
                <li>SQL</li>
                <li>Python</li>
                <li>R</li>
                <li>Javascript</li>
                <li>VBA</li>
                <li>Java</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h4>Toolbox</h4>
            <h5>Software Libraries and Frameworks</h5>
            <ul>
                <li>Django</li>
                <li>jQuery, jQueryUI</li>
                <li>Twitter Bootstrap</li>
                <li>Python scientific stack: numpy, scipy, matplotlib, iPython</li>
                <li>d3.js</li>
            </ul>

            <h5>Tools</h5>
            <ul>
                <li>Git</li>
                <li>MySQL, MS SQL Server, PostgreSQL</li>
                <li>Apache</li>
            </ul>

            <h5>Skills</h5>
            <ul>
                <li>Data Analysis/Visualization</li>
                <li>Machine Learning</li>
                <li>Web Development: HTML/CSS, REST, AJAX, API design</li>
            </ul>
        </div>
    </div>

    <hr>

    <h1>Work Experience</h1>
    <div class="row work-exp-row">
        <div class="col-xs-12 col-sm-4">
            <h3>Standard Motor Products</h3>
            <h4>Data Analyst / ERP programmer</h4>
            <h5>2016</h5>
        </div>
        <div class="col-xs-12 col-sm-8">
            <ul>
                <li>Maintain web scraped price data from 15 websites with a total of over 10 million rows.</li>
                <li>Increased the data mapping accuracy by designing a data mart based on the concept of star schema.</li>
                <li>Facilitated the ETL process by creating SSIS package, automated stored procedure, and Python script.</li>
                <li>Transformed data into ‘storytelling’ dashboard in Excel by using Power Pivot, VBA, vlookup, and index/match.</li>
                <li>Created interactive dashboard according to the special business needs using HTML, CSS, and ShinyR (R package).</li>
                <li>Communicate with manager and provide marketing insights and competitive pricing based on the analysis.</li>
            </ul>
        </div>
    </div>

    <div class="row work-exp-row">
        <div class="col-xs-12 col-sm-4">
            <h3>HiEnd Accents</h3>
            <h4>Data Analyst</h4>
            <h5>2015</h5>
        </div>
        <div class="col-xs-12 col-sm-8">
            <ul>
                <li>Automated spreadsheet data cleaning and templates filling by writing Python scripts.</li>
                <li>Automated the daily inventory report generating process by creating SSIS package.</li>
                <li>Maintained the product master data and automated the updating process by using SSIS and Python.</li>
                <li>Created an interactive business intelligence App tracking product sales by using ShinyR (R package).</li>
                <li>Communicated with coworkers and created SQL queries in the Query Manager of SAP Business One.</li>
            </ul>
        </div>
    </div>

    <hr>

    <h1>Education</h1>
    <div class="row education-row">
        <div class="col-xs-12 col-sm-4">
            <h3>University of Texas at Arlington</h3>
            <h4>M.S. in Information System and Quantitative Finance</h4>
            <h5>class of 2012</h5>
        </div>

        <div class="col-xs-12 col-sm-8">
            <h3>Master Thesis</h3>
            <h4>Data Visualization in Data Exploratory Analysis: An Overview of Methods and Technologies</h4>
            <ul>
                <li>Demonstrated how visualization analysis improves feature engineering which in turn increases the prediction accuracies by comparing different machine learning algorithms using a real-world dataset.</li>
                <li>Reviewed several prevailing data visualization technologies including ggplot2, Tableau, d3.js, and ShinyR.</li>
            </ul>
        </div>
    </div>
{% endblock %}